html {
    body {
        font-family: "Courier New", Courier, monospace;
        background-color: #222;
        color: #bbc;

        div {
            margin: 20px;
        }

        h1 {
            text-align: center;
        }

        #board {
            table {
                margin: 0 auto;
                cursor: cell;

                td {
                    color: green;
    
                    &.alive {
                        color:greenyellow;
                    }
                }
            }
        }

        #stats {
            table {
                margin: 0 auto;
            }
        }
    }
}