html {
    body {
        font-family: "Courier New", Courier, monospace;
        background-color: #222;
        color: #bbc;

        a {
            border: solid 1px;
            padding: 5px;

            &:link, 
            &:visited {
                color: inherit;
            }

            &:active,
            &:hover {
                color: white;
            }
        }

        div {
            margin: 20px;
        }

        h1 {
            text-align: center;
        }

        #board {
            table {
                margin: 0 auto;
                cursor: cell;

                td {
                    color: green;
    
                    &.alive {
                        color:greenyellow;
                    }
                }
            }
        }

        #controls {
            text-align: center;

            #controls-flow {
                span {
                    margin: 0 5px;
                }
            }
        }

        #stats {
            table {
                margin: 0 auto;
            }
        }
    }
}