html {
    body {
        background-color: #222;
        color: #bbc;

        #board {
            td {
                color: green;

                &.alive {
                    color:greenyellow;
                }
            }
        }
    }
}